.filter-group__ul,
.filter-group__list {
  list-style: none;
}

.filter-group__li--title {
  font-size: 1.5em;
  line-height: 1.5em;
}

.icon__margin {
  margin: 0 15px;
}

.filter-group__list--show {
  display: block;
}

.filter-group__list--hide {
  display: none;
}

.filter-group__ul {
  background-color: #4caf50;
  padding: 20px 0;
}
