.heading {
  font-size: 1.5em;
  line-height: 1.5em;
  background-color: #2196f3;
}

.heading__button {
  position: relative;
}

.heading__button-text {
  padding: 0 20px;
  text-transform: capitalize;
}

.heading__button > svg {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
